.App {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}
#root {
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.add-button,
.add-square-button,
.add-circle-button {
  padding: 10px;
  position: absolute;
  width: 80px;
}

.add-button {
  top: 32px;
  right: 10%;
  background-color: red;
}

.add-square-button {
  top: 70px;
  right: 10%;
  background-color: green;
}

.add-circle-button {
  top: 109px;
  right: 10%;
  background-color: cyan;
}

.add-button:hover,
.add-square-button,
.add-circle-button {
  cursor: pointer;
}

.canvas-class {
  width: 100%;
  height: 100%;
  position: absolute;
}
